<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="burst.modular.system.mapper.MenuMapper">
    <!-- 开启二级缓存 -->
    <!--<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/> -->

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="burst.modular.system.entity.Menu">
        <id column="ID" property="id" />
        <result column="MENU_CODE" property="menuCode" />
        <result column="MENU_NAME" property="menuName" />
        <result column="MENU_URL" property="menuUrl" />
        <result column="APP_ID" property="appId" />
        <result column="P_ID" property="pId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, MENU_CODE, MENU_NAME, MENU_URL, APP_ID, P_ID
    </sql>

</mapper>
